<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">
<th:block th:replace="~{no_title_layout:: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <main>
      <section class="page-section" id="services">
        <div class="container-board">
          <h2>
            제목
            <br>
            [[${board.title}]]
          </h2>
          <br>
          <h4>
            내용
            <br>
            [[${board.content}]]
          </h4>
          <br>
          <h6>
            작성시간 : [[${board.createdDate}]]
          </h6>

          <br>
          <hr>
          <form action="/admin/boards" method="post">
            답변 : <textarea type="text" name="answer" th:field="${board.answer}" class="form-control" required></textarea>
            <input type="hidden" name="boardId" th:value="${board.id}">
            <br>
            <button class="w-100 btn btn-primary btn-lg" type="submit">전송</button>
          </form>
        </div>
      </section>
    </main>
  </th:block>
</th:block>
</html>
