<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">
<th:block th:replace="~{no_title_layout:: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <main>
      <section class="page-section" id="services">
        <div class="container-board">
          <h2>
            제목
            <br>
            [[${board.title}]]
          </h2>
          <br>
          <h4>
            내용
            <br>
            [[${board.content}]]
          </h4>
          <br>
          <h6>
            작성시간 :<span th:text="${#strings.substringBefore(board.createdDate,'.')}"></span>
          </h6>
          <br>
          <hr>
          <h2>
            답변 내용
            <br>
          </h2>
          <h6>
            [[${board.answer}]]
          </h6>
        </div>
      </section>
    </main>
  </th:block>
</th:block>
</html>
