<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">
<th:block th:replace="~{layout:: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <br>
        <br>
        <br>
        <br>

        <main>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>지역</th>
                        <th>나라</th>
                        <th>출발</th>
                        <th>도착</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="country : ${countryList}">
                        <td th:text="${country.region}"></td>
                        <td th:text="${country.country}"></td>
                        <td th:text="${country.arrFlight}"></td>
                        <td th:text="${country.depFlight}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>

    </th:block>
</th:block>
</html>



