<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">
<th:block th:replace="~{layout:: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <main>
            <section class="page-section" id="services">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Services</h2>
                        <h3 class="section-subheading text-muted">원하는 서비스를 선택해주세요.</h3>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4" onclick="location.href='/aviationByCountry';">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <a class="fas fa-plane fa-stack-1x fa-inverse"></a>
                        </span>
                            <h4 class="my-3">국내 인기 여행지</h4>
                            <p class="text-muted">인천공항에서 어느 나라로 여행을 가장 많이 가는지 알 수 있어요.</p>
                        </div>
                        <div class="col-md-4" onclick="location.href='/getParking';">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-parking fa-stack-1x fa-inverse"></i>
                        </span>
                            <h4 class="my-3">주차장 현황</h4>
                            <p class="text-muted">인천공항 주차장 현황을 보여줍니다.</p>
                        </div>
                        <div class="col-md-4" onclick="location.href='/confusion?date=0&terminal=term1';">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-traffic-light fa-stack-1x fa-inverse"></i>
                        </span>
                            <h4 class="my-3">공항 혼잡도</h4>
                            <p class="text-muted">인천공항 출입국 별 예상 혼잡도를 보여줍니다.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </th:block>
</th:block>
</html>
